<launch>
  <!-- Start the simulation -->
  <include file="$(find tiago_iaslab_simulation)/launch/start_simulation.launch">
    <arg name="world_name" value="iaslab_assignment1"/>
  </include>

  <!-- Launch the navigation stack -->
  <include file="$(find tiago_iaslab_simulation)/launch/navigation.launch"/>

  <!-- Launch the AprilTag detection -->
  <include file="$(find tiago_iaslab_simulation)/launch/apriltag.launch"/>

  <!-- Start the AprilTags IDs server node -->
  <node pkg="tiago_iaslab_simulation" type="apriltag_ids_generator_node" name="apriltag_ids_generator" output="screen"/>
</launch>